<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom" style="padding-top: 0.5rem; padding-bottom: 0.5rem; height: 70px;">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand ml-5" style="margin-top: 5px;" routerLink="/">
      <h5 style="font-weight: 400;">WEHONY</h5>
    </a>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- Navigation -->
      <ul class="navbar-nav ms-auto d-flex">
        <li class="nav-item dropdown me-4">
          <a class="nav-link text-center d-block border-0" id="navbarLandings" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
            <span class="text-decoration-underline">Cars</span>
          </a>
        </li>
        <li class="nav-item dropdown me-4">
          <a class="nav-link text-center d-block border-0" id="navbarLandings" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
            <span class="text-decoration-underline">Colors</span>
          </a>
        </li>
        <li class="nav-item dropdown me-4">
          <a class="nav-link text-center d-block border-0" id="navbarLandings" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
            <span class="text-decoration-underline">Brands</span>
          </a>
        </li>
      </ul>
      <a class="navbar-btn btn btn-sm btn-primary lift ms-auto"  href="" target="_blank">
        <i class="bi bi-person-fill"></i> Giriş Yap
      </a>
      <app-cart-summary class="m-4 border rounded" style="list-style-type: none; padding: 5px;"></app-cart-summary>
    </div>
  </div>
</nav>
