<div class="container mt-5">
  <div class="row">
    <div class="col-md">
        <img src="../../../assets/cars.png" class="about-image mb-5">
    </div>
  </div>
  <div class="row">
    <div class="col-md">
        <h3 class="about-header">About Us</h3>
        <hr>
        <p class="about-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam dolores beatae molestiae debitis, aliquid itaque non porro quos officia culpa, eaque tempora tempore ratione atque ab perferendis eum omnis dolor? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis nemo doloribus doloremque delectus, eligendi perferendis in, nisi ab laudantium eius nostrum sed porro modi tempore, totam consectetur aperiam recusandae distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto laborum aperiam harum temporibus dolorum quo.</p>
        <br>
        <h3 class="about-header">Vision</h3>
        <hr>
        <p class="about-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam dolores beatae molestiae debitis, aliquid itaque non porro quos officia culpa, eaque tempora tempore ratione atque ab perferendis eum omnis dolor? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis nemo doloribus doloremque delectus, eligendi perferendis in, nisi ab laudantium eius nostrum sed porro modi tempore, totam consectetur aperiam recusandae distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto laborum aperiam harum temporibus dolorum quo.</p>
        <br>
        <h3 class="about-header">Mission</h3>
        <hr>
        <p class="about-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam dolores beatae molestiae debitis, aliquid itaque non porro quos officia culpa, eaque tempora tempore ratione atque ab perferendis eum omnis dolor? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis nemo doloribus doloremque delectus, eligendi perferendis in, nisi ab laudantium eius nostrum sed porro modi tempore, totam consectetur aperiam recusandae distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto laborum aperiam harum temporibus dolorum quo.</p>
    </div>
  </div>
</div>
