<div class="mt-5 team-boxed">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">Our Brands</h2>
      <p class="text-center">
        Nunc luctus in metus eget fringilla. Aliquam sed justo ligula.
        Vestibulum nibh erat, pellentesque ut laoreet vitae.
      </p>
    </div>
    <div class="row people">

      <div class="col-md">

      </div>
     
      <div class="col-md-3 item border border-1 ">
        <div class="box">
          <img class="rounded-circle" src="../../../assets/BMW.png" />
          <h3 class="name">BMW</h3>
          <p class="title">Germany</p>
          <p class="description">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis ?
          </p>
          <div class="social">
           <a href="https://www.instagram.com/BMW" target="_blank"><i class="bi bi-instagram"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-3 item border border-1 mx-3">
        <div class="box">
          <img class="rounded-circle" src="../../../assets/Mercedes-Logo.png" />
          <h3 class="name">Mercedes</h3>
          <p class="title">Germany</p>
          <p class="description">
            Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
          </p>
          <div class="social">
           <a href="https://www.instagram.com/Mercedesbenz" target="_blank"><i class="bi bi-instagram"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-3 item border border-1">
        <div class="box">
          <img class="rounded-circle" src="../../../assets/audi-logo-2.png" />
          <h3 class="name">Audi</h3>
          <p class="title">Germany</p>
          <p class="description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum.
          </p>
          <div class="social">
           <a href="https://www.instagram.com/Audi" target="_blank"><i class="bi bi-instagram"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md">
        
      </div>

    </div>

    <div class="row">

      <div class="col-md">

      </div>
     
      <div class="col-md-3 item border border-1 ">
        <div class="box">
          <img class="rounded-circle" src="../../../assets/image-removebg-preview (1).png" />
          <h3 class="name">SEAT</h3>
          <p class="title">Spain</p>
          <p class="description">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis ?
          </p>
          <div class="social">
           <a href="https://www.instagram.com/BMW" target="_blank"><i class="bi bi-instagram"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-3 item border border-1 mx-3">
        <div class="box">
          <img class="rounded-circle" src="../../../assets/Volkswagen_logo_2019.svg.png" />
          <h3 class="name">Volkswogen</h3>
          <p class="title">Germany</p>
          <p class="description">
            Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
          </p>
          <div class="social">
           <a href="https://www.instagram.com/Mercedesbenz" target="_blank"><i class="bi bi-instagram"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-3 item border border-1">
        <div class="box">
          <img class="rounded-circle" src="../../../assets/togg-yeni-logosunu-secti-729.jpg" />
          <h3 class="name">TOGG</h3>
          <p class="title">Turkiye</p>
          <p class="description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum.
          </p>
          <div class="social">
           <a href="https://www.instagram.com/Audi" target="_blank"><i class="bi bi-instagram"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md">
        
      </div>

    </div>

  </div>
</div>

