<main class="form-signin w-100 m-auto">
  <h1 class="h3 mb-3 fw-normal text-center mt-3">Profili Güncelle</h1>

  <form [formGroup]="settingsForm">
    <div class="form-floating my-4">
      <input
        type="text"
        class="form-control"
        id="firstName"
        placeholder="name@example.com"
        formControlName="firstName"
      />
      <label for="firstName">First Name</label>
    </div>
    <div class="form-floating my-4">
      <input
        type="text"
        class="form-control"
        id="LastName"
        placeholder="LastName"
        formControlName="lastName"
      />
      <label for="LastName">Last Name</label>
    </div>

    <div class="form-floating my-4">
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
        formControlName="password"
      />
      <label for="password">Password</label>
      <div class="alert alert-warning mt-4" style="height: 55px" role="alert">
        <p class="text-center">
          Parola değiştirme işlemi yapmayacaksanız mevcut parolanızı giriniz!
          (Boş bırakmayınız)
        </p>
      </div>
    </div>
  </form>
  <div>
    <button class="btn btn-success w-100 py-2 mb-3" type="submit" (click)="update()">
      Güncelle
    </button>

    <div *ngIf="user.status" class="container mt-5">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-5">
            <div class="card-body">
              <h5 class="card-title">Araçlar</h5>
              <p class="card-text">
                Araçları ekleyip silme ve düzenleme gibi işlerin yapılacağı
                panel.
              </p>
              <button class="btn btn-primary" routerLink="/list/cars">
                <i class="bi bi-arrow-return-right"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Renkler</h5>
              <p class="card-text">
                Renklerin ekleyip silme ve düzenleme gibi işlerin yapılacağı
                panel.
              </p>
              <button class="btn btn-primary" routerLink="/list/colors">
                <i class="bi bi-arrow-return-right"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Markalar</h5>
              <p class="card-text">
                Markalar ekleyip silme ve düzenleme gibi işlerin yapılacağı
                panel
              </p>
              <button class="btn btn-primary" routerLink="/list/brands">
                <i class="bi bi-arrow-return-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
