<footer>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>Company</h4>
            <ul>
              <li><a href="">About Us</a></li>
              <li><a href="">Our Services</a></li>
              <li><a href="">Privacy Policy</a></li>
              <li><a href="">Affilite Program</a></li>
              <li><a href="">Engine Program</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Get Help</h4>
            <ul>
              <li><a href="">FAQ</a></li>
              <li><a href="">Shipping</a></li>
              <li><a href="">Returns</a></li>
              <li><a href="">Order Status</a></li>
              <li><a href="">Payment</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Brands</h4>
            <ul>
              <li><a href="">BMW</a></li>
              <li><a href="">Mercedes-Benz</a></li>
              <li><a href="">Audi</a></li>
              <li><a href="">Seat</a></li>
              <li><a href="">Volkswogen</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Follow Us</h4>
            <div class="social-links">
              <ul>
                <a href=""> <i class="bi bi-facebook"></i> </a>
                <a href=""> <i class="bi bi-twitter"></i> </a>
                <a href=""> <i class="bi bi-instagram"></i> </a>
                <a href=""> <i class="bi bi-linkedin"></i> </a>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="text-align: center; background-color: #24262b; color: white; padding: 10px; line-height: 1;">
        &copy; 2022 All Rights Reserved By @codeweh
      </div>
  </footer>