<table class="table text-center mt-2">
    <thead>
      <tr>
        <th scope="col">Marka</th>
        <th scope="col">Açıklama</th>
        <th scope="col">Müşteri</th>
        <th scope="col">Kiralama Tarihi</th>
        <th scope="col">Teslim Tarihi</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rentalDetailDto of rentalDetailDtos">
        <td>{{rentalDetailDto.brandName}}</td>
        <td>{{rentalDetailDto.carDescription}}</td>
        <td>{{rentalDetailDto.customerName}}</td>
        <td>{{rentalDetailDto.rentDate}}</td>
        <td>{{rentalDetailDto.returnDate}}</td>
      </tr>
    </tbody>
  </table>