<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-cart3"></i> Sepetiniz 
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" *ngFor="let cartItem of cartItems">{{cartItem.car.brandName}} {{cartItem.car.description}}</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item text-center" routerLink="/cart-detail"> <i class="bi bi-cart4"></i> Sepete Git</a></li>
    </ul>
  </li>