.cart-dropdown {
    width: 300px; /* veya istediğiniz bir genişlik değeri */
    padding: 10px;
}

.cart-dropdown li {
    padding: 8px 0;
}

.cart-dropdown li a {
    color: #333;
    font-size: 14px;
    position: relative;
}

.cart-dropdown .delete-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    color: #ff0000; /* Kırmızı renk */
    font-size: 20px; /* Daha büyük bir boyut */
    line-height: 1; /* İçeriği dikey ortala */
    cursor: pointer;
    padding: 0;
    outline: none;
}

.cart-dropdown hr.dropdown-divider {
    margin: 8px 0;
    border-color: #ccc;
}

.cart-dropdown li a.dropdown-item.text-center {
    display: block;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    padding: 8px 16px;
    text-decoration: none;
}

.cart-dropdown li a.dropdown-item.text-center:hover {
    background-color: #0B5ED7;
}

.remove-button {
    font-size: 0.75rem; /* X butonunun yazı boyutunu ayarlayın */
    padding: 0.2rem 0.3rem; /* X butonunun iç boşluğunu ayarlayın */
  }

  .basket-bg-remove:hover {

    background-color: #fff !important;
    cursor: pointer;
  }
