<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-cart3"></i> Sepetiniz 
    </a>
    <ul class="dropdown-menu cart-dropdown">
        <li *ngFor="let cartItem of cartItems; let i = index">
            <a class="dropdown-item basket-bg-remove">
                {{cartItem.car.brandName}} {{cartItem.car.description}}
                <button class="btn btn-danger btn-sm float-end remove-button" (click)="removeFromCart(i)">
                    <i class="bi bi-x"></i>
                  </button>
            </a>
        </li>
        <hr class="dropdown-divider">
        <li>
            <a class="dropdown-item  text-center" routerLink="/cart-detail">
                <i class="bi bi-cart4"></i> Sepete Git
            </a>
        </li>
    </ul>
  </li>
  