<app-navi></app-navi>
<div class="container">
  <div class="row">
    <div class="col-md-3 mt-3">
      <app-brand></app-brand>
      <app-color></app-color>
      <app-select
        [label]="'Marka Seçiniz'"
        [options]="brandOptions"
      ></app-select>
      <app-select
        [label]="'Renk Seçiniz'"
        [options]="colorOptions"
      ></app-select>
      <div class="d-flex justify-content-center">
        <button class="btn btn-primary mt-3">Filtrele</button>
      </div>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
