<div class="mb-3 mt-3">
  <input
    [(ngModel)]="filterText"
    type="text"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="Renk veya Marka Değeri Giriniz !"
  />
  <div class="row mt-3">
    <div class="col-md-5">
      <select class="form-select" aria-label="Default select example" [(ngModel)]="brandFilter">
        <option value="0" selected>Markalar</option>
        <option *ngFor="let brand of brands" [value]="brand.brandId">{{ brand.brandName }}</option>
      </select>
    </div>
    <div class="col-md-5">
      <select class="form-select" aria-label="Default select example" [(ngModel)]="colorFilter">
        <option value="0" selected>Renkler</option>
        <option *ngFor="let color of colors" [value]="color.colorId">{{ color.colorName }}</option>
      </select>
    </div>
    <div class="col-md-2" style="position:relative; bottom: 10px;">
      <button class="btn btn-primary" (click)="getCarsByBrandAndColor(brandFilter,colorFilter)">Filtrele</button>
    </div>
  </div>

</div>
<div class="row">
  <div *ngFor="let car of cars | filterPipe: filterText " class="col-md-4">
    <div class="card shadow mt-3">
      <img
        [src]="getCarImageUrl(car.imagePath)"
        class="card-img-top"
        alt="{{ car.description }}"
        width="304"
        height="203"
        style="border-bottom: 1px solid #ccc"
      />

      <div class="card-body">
        <h5 class="card-title">{{ car.brandName }} {{ car.description }}</h5>
        <p class="card-text">Günlük Fiyat: {{ car.dailyPrice }}</p>
        <p class="card-text">Araç Rengi: {{ car.colorName }}</p>
        <a
          [routerLink]="['/cars', car.carId]"
          class="btn btn-primary d-block mx-auto"
          >Detaylar</a
        >
      </div>
    </div>
  </div>
</div>
