<div class="content">
    <div class="col-md-12 mt-5">
      <div class="card">
        <div class="card-header text-center">
          <h5 class="title" style="font-weight: 400;">Araba ekle</h5>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <label for="carId">Arabalar</label>
            <select class="form-select mb-3" id="carId" [(ngModel)]="carId" name="carId" required>
              <option selected disabled>Araç Seçiniz</option>
              <option *ngFor="let car of cars" [value]="car.carId">{{ car.brandName }} {{ car.description }}</option>
            </select>
          </div>
  
          <div class="mb-3">
            <label for="file">Dosya Seçiniz</label>
            <div class="form-group">
              <input type="file" class="form-control" (change)="onFileSelected($event)" accept="image/*">
            </div>
          </div>
  
        </div>
        <div class="card-footer d-grid">
          <button class="btn btn-fill btn-primary" (click)="onUpload()">Ekle</button>
        </div>
      </div>
    </div>
  </div>
  